<div class="content-item">

    <a href="{{ .Permalink }}">
      <div class="post-list"> <h3 class="post-title p-name"> {{ .Title }} </h3>
      <div class="post-date">
          <time class="dt-published" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">
          {{ .Date.Format "Jan 2, 2006" }}
      </div>

      </div>
    </a>
    {{if or .Params.tags .Params.categories .Params.series}}
      <div class="meta">
        {{ partial "tags.html" . }}
        {{ partial "categories.html" . }}
        {{ partial "series.html" . }}
      </div>
    {{end}}
</div>
