{{ partial "header.html" . }}

<article class="h-entry">
    <h1 class="post-title p-name"> {{ .Title }} </h1>
    <div rel="author" href="{{ .Site.BaseURL }}"></div>
    <div class="e-content"> {{ .Content }} </div>
    {{ partial "postfooter.html" . }}
</article>

{{ partial "mention.html" . }}
{{ partial "comments.html" . }}
{{ partial "footer.html" . }}
