<footer class="post-footer">

  <div class="post-footer-data">
            {{ partial "tags.html" . }}
    <div class="post-date">
        <time class="dt-published" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">
        </time>
    {{ .Date.Format "Jan 2, 2006" }}
    </div>
    {{if or .Params.categories .Params.series}}
    <hr>
            {{ partial "categories.html" . }}
            {{ partial "series.html" . }}
    {{end}}
  </div>
</footer>

{{ if eq .Type "post" }}
  {{ template "_internal/disqus.html" . }}
  {{ template "partials/utterances.html" . }}
{{ end }}
