<div class="social-links-footer">
  <p class="h-card vcard">
  <a style="text-decoration: none" href={{ .Site.BaseURL }} class="p-name u-url url author metatag" rel="me">
    {{ .Site.Author.name }}
  </a> /
  <a class="p-nickname u-email email metatag" rel="me" href="mailto:{{ .Site.Author.email }}">
    {{ .Site.Author.nick }}
  </a> 
  <img class="u-photo" src="/headshot.jpg" alt="" />
  </p>
</div>
